[submodule "thirdparty/FreeRTOS-Kernel"]
	path = thirdparty/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "thirdparty/cmsis-core"]
	path = thirdparty/cmsis-core
	url = git@github.com:ARMmbed/cmsis-core.git
[submodule "thirdparty/cmsis-core-lpc111x"]
	path = thirdparty/cmsis-core-lpc111x
	url = git@github.com:scottt/cmsis-core-lpc111x.git
[submodule "tests/scripts/dali_interface"]
	path = tests/scripts/dali_interface
	url = git@github.com:SvenHaedrich/dali_interface.git
